html, body{
    background-color: #262626;
    margin: 0;
    padding: 0;
}

div {
    margin: 10px;
}   
.div1 {
    height: 100px
}

.homepage {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:#808000;
}
.div2 {
    text-align: center;
    margin: 10px;
}

.div3 {
    text-align: center;
    margin: 10px;
}
.button {
    background-color: #262626; /* Green */
    border: 2px solid #0d0d0d;
    color: #808000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
    
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}